<body class="text-center">
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand">Cover</h3>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link active" href="#">Home</a>
            <a class="nav-link" routerLink="/employees">Employees</a>
          </nav>
        </div>
      </header>

      <main role="main" class="inner cover">
        <h1 class="cover-heading">Welcome To HanoMedia</h1>
        <p class="lead">a demonstration of how to add a loading spinner in angular 18 and up.</p>
        <p class="lead">
          <a href="#" class="btn btn-danger btn-md">Subscribe Now</a>
        </p>
      </main>
      <footer class="mastfoot mt-auto">
        <div class="inner">
        </div>
      </footer>
    </div>
</body>